<h1>Tasks#update</h1>


  <%= f.label :title, "Enter a title" %>
  <%= f.text_field :title %>

  <%= f.label :details, "Enter details of this task" %>
  <%= f.text_field :details %>
  <%= f.submit %>
<% end %>

<p>Find me in app/views/tasks/update.html.erb</p>
